body {
	background-image: url("../data/images/hogwarts-castle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	background-color: #273087;
}

.main {
	padding: 10px;
	opacity: 0.945;
	background-color: #273087;
	color: white;
	text-align: center;
}
 
.divider {
	width: 190px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.8px;
	background-color: #ee6e73;

}

.btn-large {
	background-color: #ee6e73;
}