body{
	background-image: url("../data/images/hall.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.main {
	background-color: transparent;
	/*color: white;*/
}

.row {
	margin-bottom: 10px;
}

.h4-answer {
	padding-top: 20px;
	text-align: center;
}

.col {
	margin-top: 0px;
	margin-bottom: 25px;
}

.s6 {
	background-color: #273087;
	padding: 0;
}

img {
	width: 350px;
	height: 400px;
	margin: auto;
}

.btn-large {
	background-color: #273087;
}

.input-field {
	/*color: white;*/
	background-color: transparent;
}

.center-div {
	width: 100%;
	padding: 20px;
	/*color: white;*/
	background-color: transparent;
}